.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  font-size: 1rem;
  box-sizing: border-box;
  background-color: hsl(0, 0%, 95%);
}

#container {
  width: 100%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.box {
  width: 20%;
  height: 35vw;
  margin-bottom: 10%;
}
h2 {
  text-align: left;
  color: white;
  font-size: 3vw;
  font-family: "Outfit", sans-serif;
}
p {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 1.5vw;
  text-align: justify;
  font-family: "Outfit", sans-serif;
}
#primary1 {
  background-color: hsl(31, 77%, 52%);
  float: left;
  border-bottom-left-radius: 2%;
  border-top-left-radius: 2%;
}
#primary2 {
  background-color: hsl(184, 100%, 22%);
  float: left;
}

#primary3 {
  background-color: hsl(179, 100%, 13%);
  float: left;
  border-bottom-right-radius: 2%;
  border-top-right-radius: 2%;
}
.inside-box {
  margin: 1rem;
}
img {
  margin: 1rem;
  margin-bottom: 0%;
  width: 4vw;
}
.button-learn {
  margin-top: 5%;
  margin-bottom: 5%;
}
button {
  width: 10vw;
  height: 5vw;
  border-radius: 12vw;
  background-color: hsla(0, 0%, 100%, 0.75);
  color: hsl(31, 77%, 52%);
  border: none;
  cursor: pointer;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 1.5vw;
  margin-top: 10% ;
}
#button2 {
  color: hsl(184, 100%, 22%);
}
#button3 {
  color: hsl(179, 100%, 13%);
}
button:hover{
    background-color:hsl(31, 77%, 52%) ;
    color: white;
    border: 3px solid white;
}
#button2:hover{
    color: white;
    border: 3px solid white;
    background-color: hsl(184, 100%, 22%)
}
#button3:hover{
    color: white;
    border: 3px solid white;
    background-color: hsl(179, 100%, 13%);
}

@media (max-width: 670px) {
  .box {
    clear: both;
    margin: 0px;
  }
  button {
    width: 7vw;
    height: 3vw;
    border-radius: 12vw;
    background-color: hsla(0, 0%, 100%, 0.75);
    color: hsl(31, 77%, 52%);
    border: none;
    cursor: pointer;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 0.7vw;
  }
  p{
      font-size: 1.0vw;
  }
}
